[submodule "src/interfaces"]
	path = src/interfaces
	url = git@github.com:THI-Drone/interfaces.git
[submodule "src/demo_package"]
	path = src/demo_package
	url = https://github.com/THI-Drone/demo_package.git
